extends ../layout

block content
  .container
    h1.main-title Traveling
    table.table.table-hover
      thead
        tr
          th 상품명
          th 여행지
          th 1 인당 가격
          th 가이드
          th 작성 일자
          th
      tbody
        each traveling in travelings
          tr
            td
              a(href=`/travelings/${traveling.id}`)= traveling.name
            td= traveling.location
            td= traveling.price
            td= traveling.guide
            td= moment(traveling.createdAt).format('YYYY-MM-DD HH:mm:ss')    
            if current.usertype == "guide"
              td
                  a.btn.btn-sm.btn-outline-secondary(href=`/travelings/${traveling._id}/edit`) 
                    | #[i.fa.fa-pencil] Edit
                  | 
                  a.btn.btn-sm.need-confirm-btn.btn-outline-danger(href=`/travelings/${traveling._id}?_method=DELETE`)
                    | #[i.fa.fa-trash] Delete
    if current.usertype == "guide"                
      a.btn.btn-primary(href='/travelings/new') #[i.fa.fa-plus] Register a new traveling


