extends ../layout



block content
  - var i = (traveling.price / 2)
  - var a = sum
   
  .container
    h1.main-title= traveling.name
          
    .question.show
      .location= "여행지: " + traveling.location
      .guide= "가이드: " + traveling.guide 
      .prices= "1 인당 가격: " + traveling.price +"원"
      .course= "여행 코스: " + traveling.course
      .description= "설명: " + traveling.description

    
    div 
      h1.sub-title= '여행상품 예상가격 계산'
      table(id="tab", border="1")
        thead
          tr
            th 상품명
            th 1인당 가격 (원)
            th 인원
            th 가격 (원)
        tbody
          tr 
            td !{traveling.name}
            td
              select(class='unit-price') 
                option !{traveling.price}  
                option #{i}         
            td 
              input(class='qty')
                
            th
              span( class="price")
      input(type="button" value="계산" id="confirm")   
    
  .container
    h1.sub-title 이 여행상품 예약하기
    form(action='/reservations', method='POST')
      .form-group
        input.form-control(type='text', id='traveling', name='traveling', value = traveling.id, readonly, hidden= true)
      .form-group
        input.form-control(type='text', id='name', name='name', value = traveling.name, readonly, hidden= true)
      .form-group
      label(for='date') Date
      input.form-control(type='date', id='date', name='date', placeholder='date')
      .form-group
          label(for='number_of_people') Number of People
          span(id="number_of_people")
            input.form-control(type='text', id='number_of_people', name='number_of_people' )     
      .form-group
        label(for='total') Total Price 
          input.form-control(type='text', id='total', name='total', placeholder='Total Price')    
      button.btn.btn-primary(type='submit') reservation
      |   
      |   
      a.btn.btn-outline-secondary(href='/travelings') Back

    
    
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="/javascripts/calculator.js")
  script.
    $(function() {
    initCalculator();
    });